html{
  background-color: lightGrey;

}
.Importent{
  font-size:14;
  font-style: oblique;
  text-align:justify;

}
h1{
  font-size:16;
  font-style: italic;
  color:#ff9f40;
}
a{
  font-size:8;
  font-style: oblique;
  font-weight: lighter;
}
p{
  font-size:12;
  color:white;
}
#Big{
  font-style: italic;
  font-weight: bold;
  font-size:26
}
.one{
  background-color:#FFC30F;
}
.two{
  background-color:#FF5733;
}
.three{
  background-color:#c70039;
}
.four{
  background-color:#F7347A;
}
.five{
  background-color:#900c3f;
  opacity:.9
}
header p{
  color:Black;
  font-size:20;
  font-style: oblique;
  text-align:justify;
}
